.flag{
    background-color:#FF671F;
    height:600px;
    width:100%;
    position:relative;
   }
   .flag > div{
    background-color: #FFFFFF;
    height:200px;
    width:100%;
    position:absolute;
    top:200px;
   }
   .flag > div > div > div{
    background-color:#046A38;
    height:200px;
    width:100%;
    position:absolute;
    top:200px;
   }
   .flag> div > div > p{
    background-color:#06038D;
    height:100px;
    width:100px;
    border-radius:200px;
    position:absolute;
    left:45%;
    top:30px;
   }
   @media (min-width:300px) and (max-width:400px)
   {
    .flag> div > div > p{
    position: relative;
      left:135px;
    }  
   }
   @media (min-width:410px) and (max-width:490px) 
   {
    .flag> div > div > p{
      position: relative;
      left:155px;
    }
   }
   @media (min-width:500px) and (max-width:550px)
   {
    .flag> div > div > p{
      position: relative;
      left:220px;
    }
   }
   @media (max-width:350px){
    .flag> div > div > p{
      position: relative;
      left:80px;
    }
   }
   @media (min-width:500px) and (max-width:700px)
   {
    .flag> div > div > p{
      position: relative;
      left:230px;
    }
   }